@model Kryptoszene_berlin.Models.Comment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="comWrapper">
    @using reCAPTCHA.MVC
    @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="crHead">Kommentar hinzufügen</div>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nachricht", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control textAreaComment", @rows = 3 })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    <small>Kommentare können später nicht bearbeitet werden!</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 captcha">
                    @Html.Recaptcha()
                    @Html.ValidationMessage("ReCaptcha")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Hinzufügen" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
